.feedbacks-list-header, .title-feedback-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--bg-color);
    padding: 7px 0px;
}
.title-feedback-list{
    padding: 15px 0px;
}
.feedbacks-list-table{
    width: 30%;
    margin: 0px 10px;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 20px;
}
.feedbacks-list-header>h4, .title-feedback-list>h4, .title-feedback-list>h6{
    margin: 0px 20px;
}

.feedbacks-list-body {
    height: 70%;
    overflow-y: scroll;
}
