.feedbacks-list-header, .title-feedback-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 2px solid var(--bg-color);
    border-top: 0px;
    padding: 7px 0px;
    background-color: white;
}
.title-feedback-list{
    padding: 15px 0px;
}
.feedbacks-list-table{
    width: 30%;
    margin: 0px 10px;
}
.feedbacks-list-header>h4, .title-feedback-list>h4, .title-feedback-list>h6{
    margin: 0px 20px;
}
.title-feedback-list{
    border-radius: 20px 20px 0px 0px;
    border-top: 2px solid var(--bg-color);
}
.title-feedback-list>h6{
    background-color: var(--theme);
    padding: 5px;
    border-radius: 12px;
    color: white;
}