.orders-list-header,
.title-order-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--bg-color);
    padding: 7px 0px;
}

.title-order-list {
    padding: 15px 0px;
}

.orders-list-table {
    width: 70%;
    margin: 0px 10px;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 20px;
}

.orders-list-header>h4,
.title-order-list>h6,
.title-order-list>h4 {
    margin: 0px 20px;
}
.orders-list-body {
    height: 70%;
    overflow-y: scroll;
}
.title-order-list>h6{
    margin: 0px 20px;
}
