.dashboard{
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.charts-tags{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.orders-feedbacks-table{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
