.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    overflow-x: hidden;
}
.user>img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.header > .user{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header>h3{
    width: 150px;
}
.search{
    border-style: none;
    outline:none;
    border: 1px solid var(--font-color);
    width: 40%;
    height: 40%;
    padding: 0px 15px;
    border-radius: 20px;
}
