.feedback{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--bg-color);
    padding: 7px 0px;
}

.feedback>div{
    margin: 0px 20px;
}